/Leccion1/HolaMundo/nbproject/private/
/Leccion1/HolaMundo/build/
/Leccion1/Ejercicio_1/nbproject/private/
/Leccion1/Ejercicio_1/build/
/Leccion1/Ejercicio_2/nbproject/private/
/Leccion1/Ejercicio_2/build/
/Leccion1/Ejercicio3/nbproject/private/
/Leccion1/Ejercicio_3/nbproject/private/
/Leccion1/Ejercicio_3/build/
/Leccion1/Ejercicio_4/nbproject/private/
/Leccion1/Ejercicio_4/build/
/Leccion1/Ejercicio_5/nbproject/private/
/Leccion1/JavaApplication5/nbproject/private/
/Leccion1/Ejercicio_5/build/
/Leccion1/Ejercicio_6/nbproject/private/
/Leccion1/Ejercicio_6/build/
/Leccion1/Ejercicio_7/nbproject/private/
/Leccion1/Ejercicio_7/build/
